.DS_Store
*.log
pkg
doc
*.gem
icons
.vimrc
spec/rails_app/db/development_structure.sql
spec/rails_app/public/extjs*
spec/rails_app/public/uploads/
spec/rails_app/db/*.sqlite3
spec/rails_app/tmp
tags
Gemfile.lock
